## Modules cross-compiled via spksrc.python-wheel.mk
# Included for reference
#lxml==3.7.2
#m2crypto==0.27.0
#msgpack-python==0.4.8
#pillow==4.0.0
#pocketsphinx==0.8
#pyalsa==1.0.29
#pyaudio==0.2.9
#pycrypto==2.6.1
#pycurl==7.43.0
#pyyaml==3.12
#pyzmq==16.0.2
#sphinxbase==0.8
#uwsgi==2.0.14
#pycparser==2.17

## Cross-compiled via spksrc.wheel.mk
cheetah==2.4.4
markupsafe==0.23
psutil==5.0.1
pymongo==3.4.0
sqlalchemy==1.1.4
zope.interface==4.3.3
twisted
pyopenssl

## Pure Python via spksrc.wheel.mk
six
virtualenv

# m2crypto dependencies
typing==3.5.2.2

# pillow dependencies
olefile==0.44
