chardet==4.0.0
cheetah3==3.2.6
cheroot==8.5.2
cherrypy==18.6.0
configobj==5.0.6
sgmllib3k==1.0.0
feedparser==6.0.2
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
more-itertools==8.7.0
portend==2.7.1
pytz==2021.1
sabyenc3==4.0.2
tempora==4.0.1
zc.lockfile==2.0