chardet==3.0.4
cheetah3==3.2.6
cheroot==8.4.2
cherrypy==18.6.0
configobj==5.0.6
sgmllib3k==1.0.0
feedparser==6.0.2
jaraco.classes==3.1.0
jaraco.collections==3.0.0
jaraco.functools==3.0.1
jaraco.text==3.2.0
more-itertools==8.5.0
portend==2.6
pytz==2020.1
sabyenc3==4.0.2
tempora==4.0.0
zc.lockfile==2.0