# Generated using the requirements script on August 19, 2026
# Command: ./generate_requirements.sh "-r requirements.txt" 314

cffi==2.1.0
charset_normalizer==3.4.9
#cryptography==48.0.1       ==> supported version depends on rust version
ct3==3.4.0.post5
#orjson==3.11.9             ==> supported version depends on rust version
pyyaml==6.0.3
sabctools==9.6.3
ujson==5.13.0
