# Wheels that absolutely needs
# to be managed as pure-python
feedparser==6.0.10
configobj==5.0.8
cheroot==9.0.0
cherrypy==18.8.0
jaraco.functools==3.6.0
jaraco.collections==4.1.0
jaraco.text==3.8.1 # Newer version introduces irrelevant extra dependencies
jaraco.classes==3.2.3
jaraco.context==4.3.0
more-itertools==9.1.0
zc.lockfile==3.0.post1
python-dateutil==2.8.2
tempora==5.2.2
pytz==2023.3
sgmllib3k==1.0.0
portend==3.1.0
chardet==5.1.0
PySocks==1.7.1
puremagic==1.15
guessit==3.7.1
babelfish==0.6.0
rebulk==3.2.0
