##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [numpy]
#   - Require Cython in cross/python310 crossenv
#   - aarch64-6.1 require workaround WHEELS_CFLAGS=-O0
#     ref: https://github.com/numpy/numpy/issues/13622
#numpy==1.23.5
numpy==1.24.3
