##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# Next update will require rustc
# cryptography==3.3.2

# Requirement for cryptography
# cffi==1.15.0

# commonly used cross-compiled wheels
# All tested and can be enabled but may conflict
# with local python apps requirements

# bcrypt==3.2.0
# greenlet==1.1.2
# immutables==0.16
# MarkupSafe==2.1.1
# msgpack-python==0.5.6
# netifaces==0.11.0
# psutil==5.9.0
# regex==2022.3.15
# SQLAlchemy==1.4.32
# zope.interface==5.4.0

# [gevent]
# Depends: libev, c-ares
# Require environment variables
#  GEVENTSETUP_EMBED_CARES=FALSE
#  GEVENTSETUP_EMBED_LIBEV=FALSE
# gevent==21.12.0

# [libtorrent] 1.2.16
# Depends: openssl, boost 1.70, geoip, libiconv
# Require environment variables
#  BOOST_LIBRARIES
#  BOOST_BUILD_PATH
# git+https://github.com/arvidn/libtorrent.git@v1.2.16#egg=libtorrent==1.2.16

# [libtorrent] 2.0.6
# Depends: openssl, boost 1.78, geoip
# Require environment variables
#  BOOST_LIBRARIES
#  BOOST_BUILD_PATH
# Only supported on DSM7 armv7, aarch64, x64
# git+https://github.com/arvidn/libtorrent.git@v2.0.6#egg=libtorrent==2.0.6
# Use RC_2_0 for latest development snapshots
# git+https://github.com/arvidn/libtorrent.git@RC_2_0#egg=libtorrent==2.0.6

# [lxml]
# Depends: libxml2, libxslt
# lxml==4.8.0

# [mysqlclient]
# Depends: mysql-connector-c, mariadb-connector-c
# Require environment variables
#  MYSQLCLIENT_CFLAGS
#  MYSQLCLIENT_LDFLAGS
# mysqlclient==2.1.0

# [numpy]
#   - armv5 (88f6281-6.1) Last known working version
# numpy==1.21.5

# [numpy]
#   - Require Cython in cross/python310 crossenv
#   - DSM6 require WHEELS_CFLAGS=-std=c++0x
#   - aarch64-6.1 require workaround WHEELS_CFLAGS=-O0
#     ref: https://github.com/numpy/numpy/issues/13622
# numpy==1.22.3

# [Pillow]
# Require --global-options arguments
#  WHEELS_BUILD_ARGS = [Pillow] build_ext --disable-platform-guessing
# Pillow==9.0.1

# [pycares]
# Depends: c-ares
# Require environment variables
#  PYCARES_USE_SYSTEM_LIB=1
# pycares==4.1.2

# [pycurl]
# Depends: curl
# Require environment variables
#  PYCURL_CURL_CONFIG
# pycurl==7.45.1

# [PyNaCl]
# Depends: cross/libsodium
# Require environment variables
#  SODIUM_INSTALL=system
# PyNaCl==1.5.0

# [PyYAML]
# Depends: libyaml
# PyYAML==6.0

# [rencode]
# Updated fork of the project
# rencode==1.0.6 <<-- unsupported
# git+https://github.com/totaam/rencode.git@f6254ab26161f90b9c5e97915b9193fee805fc1f#egg=rencode==1.0.7

# [ujson]
#   - Require setuptools-scm in cross/python310 crossenv
# ujson==5.1.0

# [webrtcvad]
# webrtcvad==2.0.10           # requires unreleased version at specific commit for qoriq arch
# git+https://github.com/wiseman/py-webrtcvad@3bd761332a9404f5c9276105070ee814c4428342#egg=webrtcvad==2.0.10
