# commonly used wheels
appdirs==1.4.4
attrs==21.2.0
bcrypt==3.2.0
beautifulsoup4==4.10.0
certifi==2021.10.8
cffi==1.15.0
chardet==4.0.0
click==8.0.3
cryptography==3.3.2
distlib==0.3.3
Flask==2.0.2
future==0.18.2
greenlet==1.1.2
html5lib==1.1
idna==3.3
immutables==0.16
itsdangerous==2.0.1
Jinja2==3.0.2
lxml==4.6.3
markupsafe==2.0.1
msgpack-python==0.5.6
netifaces==0.11.0
olefile==0.46
oauthlib==3.1.1
packaging==21.0
paramiko==2.8.0
psutil==5.8.0
pyasn1==0.4.8
pycparser==2.20
pycurl==7.44.1
PyJWT==2.3.0
PyNaCl==1.4.0
pyOpenSSL==21.0.0
pyparsing==3.0.1
pytz==2021.3
PyYAML==6.0
regex==2021.11.2
requests==2.26.0
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
ruamel.yaml==0.17.16
six==1.16.0
sqlalchemy==1.4.26
tzlocal==4.0.1
Unidecode==1.3.2
urllib3==1.26.7
webencodings==0.5.1
Werkzeug==2.0.2
zope.interface==5.4.0

# Wheels that absolutely needs
# to be managed as pure-python
pure:filelock==3.3.2
pure:importlib-metadata==4.8.1
pure:importlib-resources==5.3.0
pure:platformdirs==2.4.0
pure:poetry==1.1.11
pure:python-dateutil==2.8.2
pure:virtualenv==20.9.0
pure:zipp==3.6.0
