APScheduler == 3.3.1
babelfish == 0.5.5
bencode == 1.0
CacheControl == 0.12.2
certifi == 2017.1.23
cfscrape == 1.8.0
configobj == 5.0.6
feedparser == 5.2.1
guessit == 2.1.1
hachoir_core == 1.3.3
hachoir_metadata == 1.3.3
hachoir_parser == 1.3.4
imdbpie == 4.2.0
jsonrpclib == 0.1.7
Mako == 1.0.6
markdown2 == 2.3.3
oauth2 == 1.9.0.post1
profilehooks == 1.9.0
requests_futures == 0.9.7
Send2Trash == 1.3.0
six == 1.10.0
subliminal == 2.0.5
tornado == 4.5b1
xmltodict == 0.10.2
MultipartPostHandler == 0.1.0
beautifulsoup4 == 4.5.3
python_dateutil == 2.6.0
pynzb == 0.1.0
futures == 3.0.5
gi == 1.2
PyGithub == 1.33.0
gntp == 1.0.3
google_api_python_client == 1.5.1
python_twitter == 3.2.1
pyxdg == 0.25
urllib3 == 1.20
py-unrar2 == 0.99.6
lockfile == 0.12.2
requests == 2.13.0
codernitydb == 0.5.0
fake-useragent == 0.1.7
lxml == 3.8.0
html5lib == 1.0b10
