attrs==22.1.0
Automat==20.2.0
bleach==5.0.1
canonicaljson==1.6.2
certifi==2022.6.15
charset-normalizer==2.1.0
constantly==15.1.0
hyperlink==21.0.0
idna==3.3
ijson==3.1.4
incremental==21.3.0
Jinja2==3.1.2
jsonschema==4.12.1
matrix-common==1.2.1
matrix-synapse==1.64.0
netaddr==0.8.0
packaging==21.3
phonenumbers==8.12.53
prometheus-client==0.14.1
pyasn1==0.4.8
pyasn1-modules==0.2.8
pycparser==2.21
pymacaroons==0.13.0
pyOpenSSL==22.0.0
pyparsing==3.0.9
requests==2.28.1
service-identity==21.1.0
signedjson==1.1.4
six==1.16.0
sortedcontainers==2.4.0
treq==22.2.0
Twisted==22.4.0
typing_extensions==4.3.0
unpaddedbase64==2.1.0
urllib3==1.26.11
webencodings==0.5.1
zope.interface==5.4.0
