distrib
packages
native/*/work*
native/*/status*
cross/*/work*
cross/*/build*
cross/*/status*
kernel/*/work*
spk/*/work*
spk/*/build*
spk/*/publish*
spk/*/status*
diyspk/*/work*
diyspk/*/build*
diyspk/*/status*
toolchain/*/work*
toolchain/*/*_done
toolkit/*/work*
local.mk
*.DS_Store
*~

# PyCharm project settings
.idea
