argon2_cffi_bindings==21.2.0
# cffi==1.16.0  => python 3.11 package
charset_normalizer==3.3.2
frozendict==2.4.4
MarkupSafe==2.1.5
netifaces==0.11.0
psutil==5.9.8
pydantic==1.10.12
PyYAML==6.0.2
regex==2024.5.10
tornado==6.2
wrapt==1.15.0
