# all requirements are taken from the list "INSTALL_REQUIRES" in the 
# original setup.py at: https://github.com/OctoPrint/OctoPrint/blob/master/setup.py
# the order and grouping is also taken from there.

# additional OctoPrint plugins that are maintained on a different release cycle
OctoPrint-FirmwareCheck==2020.6.22
OctoPrint-FileCheck==2020.8.7

# the following dependencies are non trivial to update since later versions introduce backwards incompatible
# changes that might affect plugins, or due to other observed problems
markupsafe==1.1.1     # Jinja dependency, newer versions require Python 3
tornado==5.1.1        # newer versions require Python 3
markdown==3.1.1       # newer versions require Python 3
rsa==4.0              # newer versions require Python 3
regex==2020.10.23     # avoid broken 2018.11.6. See #2874

# anything below this should be checked on releases for new versions
Flask==1.1.2
Jinja2==2.11.2
Flask-Login==0.5.0
Flask-Babel==2.0.0
Flask-Assets==2.0
Werkzeug==1.0.1
itsdangerous==1.1.0
cachelib==0.1.1
PyYAML==5.3.1
pyserial==3.4
netaddr==0.8.0
watchdog==0.10.3
sarge==0.1.5.post0
netifaces==0.10.9
pylru==1.2.0
pkginfo==1.6.1
requests==2.24.0
semantic_version==2.8.5
psutil==5.7.3
click==7.1.2
feedparser==5.2.1
future==0.18.2
websocket_client==0.57.0
wrapt==1.12.1
emoji==0.6.0
frozendict==1.2
sentry-sdk==0.19.1
filetype==1.0.7

# vendor bundle dependencies
Unidecode==0.04.21    # dependency of awesome-slugify
blinker==1.4          # dependency of flask_principal
