# all requirements are taken from the list "INSTALL_REQUIRES" in the 
# original setup.py at: https://github.com/OctoPrint/OctoPrint/blob/master/setup.py
# the order and grouping is also taken from there.

# additional OctoPrint plugins that are maintained on a different release cycle
OctoPrint-FileCheck==2021.2.23
OctoPrint-FirmwareCheck==2021.2.4
OctoPrint-PiSupport==2021.3.26.post2

# the following dependencies are non trivial to update since later versions
# introduce backwards incompatible changes that might affect plugins, or due to
# other observed problems
MarkupSafe==1.1.1     # Jinja dependency  newer versions require Python 3
tornado==5.1.1        # newer versions require Python 3
Markdown==3.1.1       # newer versions require Python 3
regex==2021.4.4       # avoid broken 2018.11.6. See #2874

# anything below this should be checked on releases for new versions
Flask==1.1.2
Jinja2==2.11.3
Flask-Login==0.5.0    # flask-login doesn't use semver & breaks stuff on minor version increases
Flask-Babel==1.0.0
Flask-Assets==2.0
Werkzeug==1.0.1
itsdangerous==1.1.0
cachelib==0.1.1
PyYAML==5.4.1
pyserial==3.5
netaddr==0.8.0
watchdog==0.10.4   # watchdog dropped Py>3.6 on 0.10.5 point release...
sarge==0.1.5.post0
netifaces==0.10.9
pylru==1.2.0
pkginfo==1.7.0
requests==2.25.1
semantic-version==2.8.5
psutil==5.8.0
click==7.1.2
future==0.18.2
websocket-client==0.58.0
wrapt==1.12.1
emoji==0.6.0
sentry-sdk==0.20.3
filetype==1.0.7
zipstream-new==1.1.8

# vendor bundled dependencies
Unidecode==0.4.21     # dependency of awesome-slugify
blinker==1.4          # dependency of flask_principal

# Python 3 specific requirements
feedparser==6.0.2
zeroconf==0.24.5
