pip==24.3.1
setuptools==75.4.0
wheel==0.45.0
#
build:build==1.2.2
build:Cython==0.29.37        # [pydantic_core] depends on Cython < 3.x
build:maturin==1.7.4
build:pip-tools==7.4.1
#
cross:typing_extensions==4.12.2
