# Generated using the requirements script on May 30, 2026
# Command: ./generate_requirements.sh "beets[autobpm,beatport,chroma,discogs,embedart,embyupdate,fetchart,kodiupdate,lastgenre,lastimport,lyrics,metasync,plexupdate,replaygain,scrub,sonosupdate]==2.11.0" 314

# NOTE: Excluded plugins: absubmit, docs, import, reflink (broken/deprecated)
# NOTE: Excluded plugins: aura, bpd, mpdstats, thumbnails, web (services/desktop)

anyio==4.13.0
appdirs==1.4.4
audioread==3.1.0
beautifulsoup4==4.14.3
beets==2.11.0
#certifi==2026.5.20                   ==> python314
confuse==2.2.0
decorator==5.3.1
filetype==1.2.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.17
ifaddr==0.2.0
joblib==1.5.3
langdetect==1.0.9
lazy_loader==0.5
librosa==0.11.0
mediafile==0.17.0
mutagen==1.47.0
oauthlib==3.3.1
packaging==26.2
#pip==26.1.1                          ==> python314
#platformdirs==4.10.0                 ==> python314
pooch==1.9.0
pyacoustid==1.3.1
pycparser==3.0
pylast==7.0.2
pyrate_limiter==4.2.0
python3_discogs_client==2.8
python_dateutil==2.9.0.post0
requests==2.34.2
requests_oauthlib==2.0.0
requests_ratelimiter==0.10.0
resampy==0.4.3
#six==1.17.0                          ==> python314
soco==0.31.1
soundfile==0.13.1
soupsieve==2.8.4
standard_aifc==3.13.0
standard_chunk==3.13.0
standard_sunau==3.13.0
threadpoolctl==3.6.0
#typing_extensions==4.15.0            ==> python314
Unidecode==1.4.0
urllib3==2.7.0
xmltodict==1.0.4
