# Produced by pip freeze
# Commented if provided by python package at /usr/local/python/share/wheelhouse/
beets==1.4.7
click==7.0
# For Discogs
discogs-client==2.2.1
#enum34==1.1.6
# For Web Plugin
Flask==1.0.2
Flask-Cors==3.0.6
itsdangerous==0.24
jellyfish==0.6.1
Jinja2==2.10
#MarkupSafe==0.23
munkres==1.0.11
musicbrainzngs==0.6
mutagen==1.41.1
oauthlib==2.1.0
# For LastGenre, LastImport plugins
pylast==1.7.0
python-mpd2==1.0.0
#PyYAML==3.12
# For most API dependant plugins
requests==2.19.1
requests-oauthlib==1.0.0
#six==1.10.0
Unidecode==1.0.22
#virtualenv==15.1.0
Werkzeug==0.14.1
# For chroma
pyacoustid==1.1.5
