<?xml version="1.0"?>
<museekd>
  <domain id="museekd">
    <key id="version">0.2.0</key>
  </domain>
  <domain id="autojoin">
    <key id="museek"/>
  </domain>
  <domain id="banned">
  </domain>
  <domain id="buddies">
  </domain>
  <domain id="ignored">
  </domain>
  <domain id="trusted">
  </domain>
  <domain id="clients">
    <key id="connectmode">passive</key>
  </domain>
  <domain id="clients.bind">
    <key id="first">2234</key>
    <key id="last">2240</key>
  </domain>
  <domain id="encoding">
    <key id="filesystem">utf-8</key>
    <key id="network">utf-8</key>
  </domain>
  <domain id="encoding.rooms">
  </domain>
  <domain id="encoding.users">
  </domain>
  <domain id="interests.hate">
  </domain>
  <domain id="interests.like">
  </domain>
  <domain id="interfaces">
    <key id="password">@password@</key>
  </domain>
  <domain id="interfaces.bind">
    <key id=":2240"/>
  </domain>
  <domain id="server">
    <key id="host">server.slsknet.org</key>
    <key id="password"/>
    <key id="port">2242</key>
    <key id="username"/>
  </domain>
  <domain id="shares">
    <key id="database">/usr/local/museek-plus/var/shares</key>
  </domain>
  <domain id="buddy.shares">
    <key id="database">/usr/local/museek-plus/var/buddyshares</key>
  </domain>
  <domain id="transfers">
    <key id="download-dir">@download_dir@</key>
    <key id="downloads">/usr/local/museek-plus/var/downloads</key>
    <key id="incomplete-dir"/>
    <key id="only_buddies">false</key>
    <key id="user_warnings">true</key>
    <key id="privilege_buddies">true</key>
    <key id="upload_slots">2</key>
    <key id="download_slots">0</key>
    <key id="upload_rate">0</key>
    <key id="download_rate">0</key>
    <key id="have_buddy_shares">false</key>
    <key id="trusting_uploads">false</key>
  </domain>
  <domain id="userinfo">
    <key id="image">/usr/local/museek-plus/var/image</key>
    <key id="text"/>
  </domain>
  <domain id="default-ticker">
    <key id="ticker"/>
  </domain>
  <domain id="tickers">
  </domain>
</museekd>
