<Config>
  <Branch>master</Branch>
  <LaunchBrowser>False</LaunchBrowser>
  <Port>9696</Port>
  <UpdateAutomatically>True</UpdateAutomatically>
  <UpdateMechanism>Script</UpdateMechanism>
  <UpdateScriptPath>/var/packages/prowlarr/target/share/Prowlarr/servarr_spk_upgrade.sh</UpdateScriptPath>
</Config>
