## Modules cross-compiled via spksrc.python-wheel.mk
# Included for reference
#lxml==4.2.5
#pycrypto==2.6.1
#Pillow==8.2.0
#pycurl==7.43.0.6
#pyyaml==5.4.1
#immutables==0.11

## Cross-compiled via spksrc.wheel.mk
markupsafe==1.1.1
psutil==5.7.0
sqlalchemy==1.3.13
zope.interface==4.7.1

## Pure-python via spksrc.wheel.mk
pyopenssl==20.0.1
six==1.16.0
virtualenv==20.4.6
# virtualenv dependencies
appdirs==1.4.4
filelock==3.0.12
importlib-resources==5.1.2
importlib-metadata==4.0.1
zipp==3.4.1
distlib==0.3.1

# cryptography dependencies
idna==2.10
ipaddress==1.0.23
pyasn1==0.4.8

# pillow dependencies
olefile==0.46
