cffi==1.17.1
charset_normalizer==3.4.0
# cryptography          ==> cross/cryptography
#greenlet==3.1.1     ==> dedicated requirements file
lxml==5.3.0
MarkupSafe==3.0.2
msgpack==1.1.0
SQLAlchemy==2.0.36
tornado==6.4.1
