pip==24.3.1
pip-tools==7.4.1
setuptools==75.4.0
build==1.2.2
wheel==0.45.0
#
cffi==1.17.1
cryptography==41.0.3
Cython==3.0.11
flit==3.10.1
maturin==1.7.4
meson-python==0.17.1
msgpack==1.0.5
poetry==1.8.4
scikit-build==0.18.1
scikit-build-core==0.10.7
setuptools-rust==1.10.2
setuptools-scm==8.1.0
typing_extensions==4.12.2
