#borgbackup==1.1.13
borgmatic==1.5.9
certifi==2020.6.20
chardet==3.0.4
colorama==0.4.3
docopt==0.6.2
idna==2.10
pykwalify==1.7.0
python-dateutil==2.8.1
PyYAML==5.4
requests==2.24.0
#ruamel.yaml==0.16.10
ruamel.yaml.clib==0.2.0
six==1.15.0
urllib3==1.25.10
