# Cross compiled packages dependencies
#borgbackup==1.1.9
#msgpack-python==0.5.6
#ruamel.yaml==0.15.78

# Downloaded dependencies
borgmatic==1.2.15
pykwalify==1.6.1
docopt==0.6.2
python-dateutil==2.8.0
