# For reference
#borgbackup==1.1.17

#attrs==21.2.0                 ==> python310
borgmatic==1.5.18
#certifi==2021.5.30            ==> python310
charset-normalizer==2.0.4
colorama==0.4.4
#idna==3.2                     ==> python310
#packaging==21.0               ==> python310
pyparsing==2.4.7
pyrsistent==0.18.0
#requests==2.26.0              ==> python310
#ruamel.yaml==0.17.16          ==> python310
ruamel.yaml.clib==0.2.6
#six==1.16.0                   ==> python310
#urllib3==1.26.6               ==> python310
