##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [numpy]
#   - Require Cython in cross/python310 crossenv
#   - Numpy 1.25.x require c++17
#numpy==1.25.2
#   - Temp. reverted to 1.24.x
numpy==1.24.4
