salt==2015.5.11
Jinja2==2.11.3
requests==2.23.0
CherryPy==11.2.0
more-itertools==5.0.0
cheroot==6.3.3
backports.functools-lru-cache==1.4
jaraco.windows==3.7
jaraco.classes==1.4.3
jaraco.functools==1.17
portend==2.2
tempora==1.10
futures==3.3.0
