# pypi source fails as versions either YANKED or uses -postX tag
duplicity==1.0.1

# gitlab source fails to generate $version
# ref: https://gitlab.com/duplicity/duplicity/-/issues/109
#git+https://gitlab.com/duplicity/duplicity.git@rel.0.8.23#egg=duplicity==0.8.23

# Using launchpad source as alternate
#https://launchpad.net/duplicity/0.8-series/0.8.23/+download/duplicity-0.8.23.tar.gz#egg=duplicity==0.8.23

bcrypt==4.0.1
cffi==1.15.1
coverage==6.5.0
#cryptography==38.0.2         ==> cross/cryptography
lazy-object-proxy==1.7.1
lxml==4.9.1
MarkupSafe==2.1.1
msgpack==1.0.4
msgpack-python==0.5.6
netifaces==0.11.0
protobuf==4.21.7
psutil==5.9.1
PyNaCl==1.5.0
PyYAML==6.0
simplejson==3.17.6
wrapt==1.14.1
