# Generated using the requirements script on October 4, 2026
annotated_types==0.8.0
argparse==1.4.0
args==0.1.0
azure_core==1.41.0
azure_storage_blob==12.31.0
b2sdk==2.13.0
babel==2.18.0
boto3==1.43.108
botocore==1.43.108
boxsdk==10.17.0
#certifi                                                    ==> python314
clint==0.5.1
debtcollector==3.1.0
dropbox==12.2.2
ecdsa==0.19.2
fasteners==0.20
gdata_python3==3.0.1
google_api_core==2.40.0
google_api_python_client==2.201.0
googleapis_common_protos==1.75.5
google_auth==2.59.1
google_auth_httplib2==0.4.4
google_auth_oauthlib==1.5.0
httplib2==0.32.0
humanize==4.16.0
idna==3.20
invoke==3.0.3
ip_associations_python_novaclient_ext==0.2
iso8601==2.1.0
isodate==0.7.2
jaraco.classes==3.4.0
jaraco_context==6.1.2
jaraco_functools==4.6.0
jeepney==0.9.0
jinja2==3.1.6
jmespath==1.1.0
jottalib==0.5.1
keyring==25.7.0
keystoneauth1==2.18.0
logfury==1.0.1
mediafire==0.6.1
megatools==0.0.4
mock==5.2.0
monotonic==1.6
more_itertools==11.1.0
netaddr==1.3.0
oauth2client==4.1.3
oauthlib==4.0.0
opentelemetry_api==1.45.0
os_diskconfig_python_novaclient_ext==0.1.3
oslo.config==4.12.0
oslo.i18n==3.12.0
oslo.serialization==2.16.1
oslo.utils==3.22.3
os_networksv2_python_novaclient_ext==0.26
os_virtual_interfacesv2_python_novaclient_ext==0.20
packaging==26.3
paramiko==5.0.0
pbr==1.10.0
pexpect==4.9.0
#pip                                                        ==> python314
positional==1.2.1
prettytable==0.7.2
proto_plus==1.29.0
ptyprocess==0.7.0
pyasn1==0.6.4
pyasn1_modules==0.4.2
pycparser==3.0
PyDrive2==1.21.3
pyjwt==2.15.1
pyOpenSSL==24.2.1
pyparsing==3.3.3
pyrax==1.10.0
PySocks==1.7.1
python_dateutil==2.9.0.post0
python_keystoneclient==3.10.0
python_novaclient==2.27.0
python_swiftclient==4.11.0
pytz==2026.5
rackspace_auth_openstack==1.3
rackspace_novaclient==2.1
rax_default_network_flags_python_novaclient_ext==0.4.0
rax_scheduled_images_python_novaclient_ext==0.3.1
requests==2.34.2
requests_oauthlib==2.0.0
requests_toolbelt==1.0.0
rfc3986==2.0.0
rsa==4.9.1
s3transfer==0.19.2
secretstorage==3.5.0
#six                                                        ==> python314
stevedore==5.9.1
stone==3.5.5
tlslite_ng==0.8.2
typing_extensions==4.16.0
uritemplate==4.2.0
urllib3==2.8.0
