# pypi source fails as versions either YANKED or uses -postX tag
#duplicity==0.8.21

# gitlab source fails to generate $version
# ref: https://gitlab.com/duplicity/duplicity/-/issues/109
#git+https://gitlab.com/duplicity/duplicity.git@rel.0.8.21#egg=duplicity==0.8.21

# Using launchpad source instead as functional
https://launchpad.net/duplicity/0.8-series/0.8.21/+download/duplicity-0.8.21.tar.gz#egg=duplicity==0.8.21

bcrypt==3.2.0
cffi==1.15.0
cryptography==3.3.2
lxml==4.7.1
msgpack==1.0.3
msgpack-python==0.5.6
netifaces==0.11.0
protobuf==3.19.1
psutil==5.9.0
PyNaCl==1.4.0
PyYAML==6.0
simplejson==3.17.6
wrapt==1.13.3
