## To update this file:
## --------------------
## cd ./spksrc/cross/duplicity
## download current package:
##   make digests (or make download)
## extract requirements.txt:
##   tar -ztvf ../../distrib/duplicity.{PKG_VERS}.tar.gz --no-anchored requirements.txt
## copy and rename requirements.txt:
##   cp duplicity-{PKG_VERS}/requirements.txt ./spksrc/spk/duplicity/src/requirements.original.txt
## create update requirements file for package:
##   cd ./spksrc/spk/duplicity/src
##   /spksrc/native/python38/work-native/install/usr/local/bin/python3 -m venv venv
##   . venv/bin/activate
##   pip install --upgrade pip
### make some modification in requirements.original.txt
### - remove testing dependencies
### - comment out packages included as cross compiled wheels
### - comment out unsupported dependencies
##   pip install -r requirements.original.txt
##   pip freeze > requirements.txt
##   deactivate
## --------------------

## This content is generated following the instructions above, except
## that the base and backend requirements are updated separately and
## the results are merged together.


##### Included for reference #####
#duplicity==0.8.19

##### basic requirements #####
certifi==2020.12.5
fasteners==0.16
requests==2.25.1
#setuptools-scm==6.0.1
setuptools-scm==5.0.2
six==1.15.0
urllib3==1.26.4

### backend libraries except gdata mediafire
arrow==0.17.0
attrs==20.3.0
azure-core==1.13.0
azure-storage-blob==12.8.1
Babel==2.9.1
boto==2.49.0
boto3==1.17.62
botocore==1.20.62
boxsdk==2.12.0
cachetools==4.2.2
debtcollector==1.11.0
dropbox==11.7.0
funcsigs==1.0.2
google-api-core==1.26.3
google-api-python-client==2.3.0
google-auth==1.30.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.4
googleapis-common-protos==1.53.0
httplib2==0.19.1
humanize==3.5.0
isodate==0.6.0
jmespath==0.10.0
keyring==23.0.1
keystoneauth1==2.18.0
logfury==0.1.2
#monotonic==1.6
msrest==0.6.21
netaddr==0.8.0
oauthlib==3.1.0
os-diskconfig-python-novaclient-ext==0.1.3
oslo.config==4.12.0
oslo.i18n==3.12.0
oslo.serialization==2.16.1
oslo.utils==3.22.3
packaging==20.9
pbr==1.10.0
ply==3.11
prettytable==0.7.2
### pycparser==2.20     # pycparser==2.19 is included in python38
PyDrive==1.3.1
PyJWT==2.1.0
pyparsing==2.4.7
pyrax==1.10.0
python-dateutil==2.8.1
python-keystoneclient==3.10.0
python-novaclient==2.27.0
python-swiftclient==3.11.1
pytz==2021.1
requests-oauthlib==1.3.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
rsa==4.7.2
s3transfer==0.4.2
SecretStorage==3.3.1
stevedore==1.20.1
stone==3.2.1
tqdm==4.60.0
uritemplate==3.0.1
### zipp==3.4.1  # zipp==3.1.0 is included in python38
