# requirements by dedicated integrations

### pure python packages for components:

# for HACS
aiogithubapi==22.10.1

accuweather==1.0.0
adax==0.2.0
adext==0.4.2
adguardhome==0.6.1
advantage_air==0.4.4
AEMET_OpenData==0.2.2
agent_py==0.0.23
aioambient==2023.4.0
aioasuswrt==1.4.0
aioazuredevops==1.3.5
aiocoap==0.4.7
aiohue==4.6.2
airly==1.1.0
Ambiclimate==0.2.1
arcam_fmj==1.4.0
axis==48
beautifulsoup4==4.11.1
bellows==0.35.8
bimmer_connected==0.13.8
blebox_uniapi==2.1.4
blinkpy==0.21.0
boschshcpy==0.2.57
broadlink==0.18.3
brother==2.3.0
buienradar==1.0.5
CO2Signal==0.4.2
croniter==1.0.6
denonavr==0.11.2
fjaraskupan==2.2.0
fritzconnection==1.12.0
gassist_text==0.0.10
geopy==2.3.0
getmac==0.8.2
google_generativeai==0.1.0
google_nest_sdm==2.2.5
greeclimate==1.4.1
# grpcio is not a pure python package, but is available on pypi for all supported archs (except qoriq)
# grpcio==1.51.1 is not available for python311 for supported archs, but 1.56.x is
# but packages depending on grpcio==1.51.1 do not work with 1.56.x:
#  Error occurred loading flow for integration nest: /volume1/@appstore/homeassistant/env/lib/python3.11/site-packages/grpc/_cython/cygrpc.cpython-311-aarch64-linux-gnu.so: undefined symbol: _ZTVNSt7__cxx1119basic_ostringstreamIcSt11char_traitsIcESaIcEEE
# this is an issue with aarch64 and too old libstdc++ (https://github.com/grpc/grpc/issues/33734)
grpcio>=1.51.1
ha_ffmpeg==3.1.0
pyairvisual==2022.12.1
pyatag==0.3.5.3
pydaikin==2.10.5
pyfritzhome==0.6.8
pyialarm==2.2.0
pyicloud==1.0.0
pyipp==0.14.0
PyMetno==0.10.0
pyoctoprintapi==0.1.11
pyownet==0.10.0.post1
pyserial_asyncio==0.6
pysiaalarm==3.1.1
pysnmplib==5.0.21
python_awair==0.2.4
python_izone==1.2.9
python_nest==4.2.0
python_songpal==0.15.2
pytradfri==9.0.1
pywemo==1.1.0
py_canary==0.5.3
py_synologydsm_api==2.1.4
radios==0.1.1
starlink_grpc_core==1.1.1
synology_srm==0.2.0
voip_utils==0.1.0
WSDiscovery==2.0.0
xmltodict==0.13.0
yalexs==1.5.1
zha_quirks==0.0.101
zigpy==0.56.2
zigpy_deconz==0.21.0
zigpy_xbee==0.18.1
zigpy_zigate==0.11.0
zigpy_znp==0.11.3
