# requirements by dedicated integrations

### pure python packages for components:

# for HACS
aiogithubapi==22.10.1

accuweather==0.5.2
adax==0.2.0
adext==0.4.2
adguardhome==0.6.1
advantage_air==0.4.4
AEMET_OpenData==0.2.2
agent_py==0.0.23
aioambient==2023.4.0
aioasuswrt==1.4.0
aioazuredevops==1.3.5
aiohue==4.6.2
airly==1.1.0
Ambiclimate==0.2.1
arcam_fmj==1.3.0
axis==47
beautifulsoup4==4.11.1
bellows==0.35.5
bimmer_connected==0.13.5
blebox_uniapi==2.1.4
blinkpy==0.19.2
boschshcpy==0.2.35
broadlink==0.18.3
brother==2.3.0
buienradar==1.0.5
CO2Signal==0.4.2
croniter==1.0.6
denonavr==0.11.2
fjaraskupan==2.2.0
fritzconnection==1.12.0
geopy==2.3.0
getmac==0.8.2
greeclimate==1.4.1
ha_ffmpeg==3.1.0
pyairvisual==2022.12.1
pyatag==0.3.5.3
pydaikin==2.9.0
pyfritzhome==0.6.8
pyialarm==2.2.0
pyicloud==1.0.0
pyipp==0.12.1
PyMetno==0.9.0
pyoctoprintapi==0.1.11
pyownet==0.10.0.post1
pyserial_asyncio==0.6
pysiaalarm==3.1.1
pysnmplib==5.0.21
python_awair==0.2.4
python_izone==1.2.9
python_songpal==0.15.2
pytradfri==9.0.1
pywemo==0.9.1
py_canary==0.5.3
py_synologydsm_api==2.1.4
radios==0.1.1
synology_srm==0.2.0
WSDiscovery==2.0.0
xmltodict==0.13.0
yalexs==1.5.1
zha_quirks==0.0.99
zigpy==0.55.0
zigpy_deconz==0.21.0
zigpy_xbee==0.18.0
zigpy_zigate==0.11.0
zigpy_znp==0.11.1
