# Home Assistant core
# requirements are splitted into two files
# - requirements.txt  (this file)
# - postinst_requirements.txt

homeassistant==2021.8.6

# Home Assistant Core
aiohttp==3.7.4.post0
astral==2.2
async-timeout==3.0.1
attrs==21.2.0
awesomeversion==21.4.0
backports.zoneinfo;python_version<"3.9"
bcrypt==3.1.7
certifi==2021.5.30
ciso8601==2.1.3
httpx==0.18.2
## jinja2==3.0.1      # fails to build
PyJWT==1.7.1
cryptography==3.3.2
## pip>=8.0.3,<20.3
python-slugify==4.0.1
pyyaml==5.4.1
requests==2.25.1
ruamel.yaml==0.15.100
voluptuous==0.12.1
voluptuous-serialize==2.4.0
yarl==1.6.3


# homeassistant.components.frontend
home-assistant-frontend==20210809.0

# homeassistant.components.cloud
hass-nabucasa==0.46.0

# homeassistant.components.mobile_app
# homeassistant.components.owntracks
## PyNaCl==1.4.0      # cross package

# homeassistant.components.emulated_hue
# homeassistant.components.http
aiohttp_cors==0.7.0

### other dependencies
multidict==5.1.0
Unidecode==1.2.0
typing_extensions==3.10.0.0
chardet==4.0.0
pytz==2021.1
urllib3==1.26.6
atomicwrites==1.4.0
PythonDNS==0.1
jose==1.0.0
josepy==1.8.0



async-upnp-client==0.19.1
boto3==1.18.18
botocore==1.21.18
brother==1.0.2
cffi==1.14.1

click==8.0.1
deepmerge==0.3.0
defusedxml==0.7.1
distro==1.5.0
dnspython==2.1.0
ecdsa==0.14.1
emoji==1.2.0
envs==1.3
greenlet==1.1.1
gTTS==2.2.3
h11==0.12.0
homeassistant==2021.8.6
httpcore==0.13.6


idna==2.9
ifaddr==0.1.7

jmespath==0.10.0
MarkupSafe==2.0.1
mutagen==1.45.1
onvif-zeep-async==1.0.0
ply==3.11
py-synologydsm-api==1.0.3
pyasn1==0.4.8
pycognito==2021.3.1
pycparser==2.19
#pycrypto==2.6.1
#pycryptodomex==3.10.1
#pycryptodome==3.10.1
#pyipp==0.11.0

pyOpenSSL==20.0.1
pyRFC3339==1.1
pysmi==0.3.4
pysnmp==4.4.12
python-dateutil==2.8.2
python-didl-lite==1.2.6
python-jose==3.2.0
python-miio==0.5.6

requests-toolbelt==0.9.1
rfc3986==1.5.0
rsa==4.7.2

s3transfer==0.5.0
scapy==2.4.5
six==1.16.0
sniffio==1.2.0
snitun==0.27.0
spotipy==2.18.0
text-unidecode==1.3
typing-extensions==3.10.0.0

zeroconf==0.34.3
