# all available wheels are downloaded from index at package installation

# wheels for python arch aarch64

aioesphomeapi==45.3.1
aiohttp==3.14.3
annotatedyaml==1.0.2
audioop_lts==0.2.2
av==17.0.1
awscrt==0.36.1
bcrypt==5.0.0
bitarray==3.9.2
bitstruct==8.22.1
bleak_esphome==3.9.7
brotli==1.2.0
#cachebox==5.2.3
cached_ipaddress==1.1.2
caio==0.9.25
cbor2==5.9.0
cffi==2.0.0
charset_normalizer==3.4.3
ciso8601==2.3.3
convertertools==1.1.0
coverage==7.15.2
cryptography==48.0.1
dbus_fast==5.0.22
debugpy==1.8.21
deebot_client==18.4.0
### DTLSSocket==0.1.19          # pip wheel fails to cross compile, use python/dtlssocket
faust_cchardet==2.2.1
fnv_hash_fast==2.0.3
frozenlist==1.8.0
greenlet==3.3.0
grpcio==1.78.0
guppy3==3.1.7
habluetooth==6.26.5
ijson==3.5.1
isal==1.8.0
jiter==0.16.0
kasa_crypt==1.1.0
lxml==6.1.1
markupsafe==3.0.3
msgpack==1.2.1
multidict==6.7.1
numpy==2.3.2
orjson==3.11.9
pandas==2.3.3
pillow==12.2.0
propcache==0.5.2
protobuf==6.32.0
psutil==7.2.2
pycares==5.0.1
pycryptodome==3.23.0
pycryptodomex==3.23.0
pydantic_core==2.46.4
pynacl==1.6.2
pyyaml==6.0.3
regex==2026.7.19
rpds_py==2026.6.3
scipy==1.18.0
simplejson==4.1.1
sqlalchemy==2.0.51
ujson==5.13.0
ulid_transform==2.2.9
uv==0.11.25
websockets==15.0.1
wrapt==1.17.3
yarl==1.24.5
zeroconf==0.150.0
