aiohttp==3.8.5
bcrypt==4.1.1
bitstruct==8.17.0
bluetooth_data_tools==1.3.0
Brotli==1.0.9
cbor2==5.4.6
cffi==1.15.1
chacha20poly1305_reuseable==0.4.1
ciso8601==2.3.0
coverage==7.2.7
crcmod==1.7
cryptography==41.0.3
dbus_fast==1.86.0
ephem==4.1.2
faust_cchardet==2.1.18
fnv_hash_fast==0.3.1
frozenlist==1.4.0
greenlet==2.0.2
# grpcio==1.51.1        # fails to build, but grpcio==1.56.x successfully installs as dependency
guppy3==3.1.3
#ha_av==10.1.0          # fails to build, depends on libav from ffmpeg, but successfully installs as dependency
home_assistant_bluetooth==1.10.0
kasa_crypt==0.3.0
lru_dict==1.2.0
lxml==4.9.1
MarkupSafe==2.1.3
miniaudio==1.59
msgpack==1.0.5
multidict==6.0.4
netifaces==0.11.0
numpy==1.24.4
orjson==3.9.1
# pandas==2.0.3         # depends on installed numpy wheel ?...
Pillow==9.5.0
protobuf==4.23.1
psutil==5.9.5
pycares==4.3.0
pycrc16==0.1.2
#pycryptodome==3.18.0   => abi3
#pycryptodomex==3.18.0  => abi3
pydantic==1.10.12
pyitachip2ir==0.0.7
PyNaCl==1.5.0
PyYAML==6.0.2
regex==2021.8.28
rpds_py==0.9.2
simplejson==3.19.1
SQLAlchemy==2.0.15
tornado==6.3.2
ulid_transform==0.7.2

# [webrtcvad]
# webrtcvad==2.0.10           # requires unreleased version at specific commit for qoriq arch
git+https://github.com/wiseman/py-webrtcvad@3bd761332a9404f5c9276105070ee814c4428342#egg=webrtcvad==2.0.10

websockets==11.0.3
wrapt==1.15.0
yarl==1.9.2
zeroconf==0.70.0
zope.interface==6.0
