# wheels that are not available in index are built and included in the package
# 
aiokafka==0.10.0                # downloadable only for python <= 312
bluetooth_data_tools==1.29.18   # not downloadable for aarch64, x64 downloadable depends on glibc 2.41+
crcmod==1.7                     # downloadable only for win32, installs from index as py3-none-any.whl
### DTLSSocket==0.1.19          # no wheels in index, source only, pip wheel fails to cross compile, use python/dtlssocket
ephem==4.1.6                    # downloadable only for python <= 313
lru_dict==1.4.1                 # downloadable only for python <= 311
miniaudio==1.71                 # not downloadable for aarch64
netifaces==0.11.0               # downloadable only for python <= 39
pyads==3.4.0                    # no wheels in index, source only
pycrc16==0.1.2                  # no wheels in index, source only
pyitachip2ir2==0.0.8            # no wheels in index, source only
pymicro_vad==1.0.1              # downloadable only for python <= 312
pyspeex_noise==1.0.2            # no wheels in index, source only
