
homeassistant==2025.11.3

acme==5.1.0
aiodiscover==2.7.1
aiodns==3.5.0
aiofiles==24.1.0
aiohappyeyeballs==2.6.1
aiohasupervisor==0.3.3
aiohttp_asyncmdnsresolver==0.1.1
aiohttp_cors==0.8.1
aiohttp_fast_zlib==0.3.0
aiomqtt==2.4.0
aiooui==0.1.9
aiosignal==1.4.0
aiozoneinfo==0.2.3
anyio==4.10.0
astral==2.2
async_interrupt==1.2.2
async_timeout==4.0.3
async_upnp_client==0.46.0
atomicwrites_homeassistant==1.4.1
attrs==25.4.0
awesomeversion==25.8.0
bleak==1.0.1
bleak_retry_connector==4.4.3
bluetooth_adapters==2.1.0
bluetooth_auto_recovery==1.5.3
boto3==1.37.1
botocore==1.37.1
btsocket==0.3.0
cachetools==6.2.4
chacha20poly1305==0.0.3
chacha20poly1305_reuseable==0.13.2
click==8.1.8
charset_normalizer==3.4.3
colorama==0.4.6
commonmark==0.9.1
construct==2.10.68
cronsim==2.7
defusedxml==0.7.1
dnspython==2.8.0
ecdsa==0.19.1
envs==1.4
fnvhash==0.2.1
gTTS==2.5.3
h11==0.16.0
hass_nabucasa==1.5.1
home_assistant_bluetooth==1.13.1
home_assistant_chip_clusters==2025.7.0
home_assistant_frontend==20251105.1
home_assistant_intents==2025.11.7
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ifaddr==0.2.0
jinja2==3.1.6
jmespath==1.0.1
josepy==2.2.0
mac_vendor_lookup==0.1.15
mashumaro==3.17
mutagen==1.47.0
noiseprotocol==0.3.1
packaging==25.0
paho_mqtt==2.1.0
psutil_home_assistant==0.0.1
pyasn1==0.6.1
pycognito==2024.5.1
pycparser==2.23
pygments==2.19.2
PyJWT==2.10.1
pyOpenSSL==25.3.0
pyrfc3339==2.1.0
PyRIC==0.1.6.3
pyroute2==0.7.5
pyserial==3.5
python_dateutil==2.9.0.post0
python_didl_lite==1.4.1
python_jose==3.5.0
python_slugify==8.0.4
pytz==2025.2
requests==2.32.5
requests_toolbelt==1.0.0
rich==10.16.2
rsa==4.9
s3transfer==0.11.3
scapy==2.6.1
securetar==2025.2.1
sentence_stream==1.2.0
sniffio==1.3.1
snitun==0.45.1
standard_aifc==3.13.0
standard_telnetlib==3.13.0
tenacity==8.5.0
text_unidecode==1.3
typing_extensions==4.15.0
tzdata==2025.3
tzlocal==5.3.1
uart_devices==0.1.1
urllib3==2.6.2
usb_devices==0.4.5
voluptuous==0.15.2
voluptuous_openapi==0.1.0
voluptuous_serialize==2.7.0
webrtc_models==0.3.0
