# Home Assistant core
# requirements are taken from homeassistant dependency files
# - pyproject.toml
# - requirements.txt (including homeassistant/package_constraints.txt)
# - requirements_all.txt
# those requirements are splitted into multiple files
# - requirements-crossenv.txt             (containing requirements that need cross compilation)
# - requirements-pure.txt                 (containing pure-python requirements for homeassistant core and default_configuration, this file)
# - postinst_integration_requirements.txt (requirements for integrations)
# postinst requirements must be pure python wheels.
# To minimize the package size the spk does not contain dependent wheels that are pure python.

homeassistant==2022.10.5
home-assistant-frontend==20221010.0
hass-nabucasa==0.56.0


acme==1.29.0
aiodiscover==1.4.13
aiohttp-cors==0.7.0
aiosignal==1.2.0
anyio==3.6.2
astral==2.2
async-upnp-client==0.31.2
async_timeout==4.0.2
atomicwrites-homeassistant==1.4.1
attrs==21.2.0
awesomeversion==22.9.0
bleak-retry-connector==2.1.3
bleak==0.18.1
bluetooth-adapters==0.6.0
bluetooth-auto-recovery==0.3.6
boto3==1.26.4
botocore==1.29.4
btsocket==0.2.0
charset-normalizer==2.1.1
dbus-fast==1.24.0
defusedxml==0.7.1
dnspython==2.2.1
ecdsa==0.18.0
envs==1.4
fnvhash==0.1.0
gTTS==2.2.4
h11==0.12.0
home-assistant-bluetooth==1.3.0
httpcore==0.15.0
httpx==0.23.0
idna==3.4
ifaddr==0.1.7
Jinja2==3.1.2
jmespath==1.0.1
josepy==1.13.0
mutagen==1.45.1
# mediafile>0.10.0 would break tts due to depencency of mutagen>=1.46
mediafile==0.10.0
psutil-home-assistant==0.0.1
pyasn1==0.4.8
pycognito==2022.8.0
pycparser==2.21
PyJWT==2.5.0
pyOpenSSL==22.1.0
pyRFC3339==1.1
PyRIC==0.1.6.3
pyserial==3.5
python-dateutil==2.8.2
python-didl-lite==1.3.2
python-jose==3.3.0
python-slugify==4.0.1
pytz==2022.6
pyudev==0.23.2
requests-toolbelt==0.10.1
requests==2.28.1
rfc3986==1.5.0
rsa==4.9
s3transfer==0.6.0
scapy==2.4.5
securetar==2022.2.0
six==1.16.0
sniffio==1.3.0
snitun==0.31.0
text-unidecode==1.3
typing-extensions==4.4.0
urllib3==1.26.12
voluptuous-serialize==2.5.0
voluptuous==0.13.1
zeroconf==0.39.1
