# [libtorrent] 1.2.18
# Depends: openssl, boost 1.78, geoip, libiconv
# Require environment variables
#  BOOST_LIBRARIES
#  BOOST_BUILD_PATH
#git+https://github.com/arvidn/libtorrent.git@v1.2.17#egg=libtorrent==1.2.17
#git+https://github.com/arvidn/libtorrent.git@v1.2.18#egg=libtorrent==1.2.18
#git+https://github.com/arvidn/libtorrent.git@RC_1_2#egg=libtorrent==1.2.18
# git bisect
#git+https://github.com/arvidn/libtorrent.git@37f6647c6#egg=libtorrent==1.2.18 --> SEGFAULT
#git+https://github.com/arvidn/libtorrent.git@d2dca8955#egg=libtorrent==1.2.18 --> SEGFAULT
#git+https://github.com/arvidn/libtorrent.git@6a5d63f65#egg=libtorrent==1.2.18 --> SEGFAULT
#git+https://github.com/arvidn/libtorrent.git@312670a6e#egg=libtorrent==1.2.18 --> SEFFAULT
git+https://github.com/arvidn/libtorrent.git@c362f5f11#egg=libtorrent==1.2.17
#git+https://github.com/arvidn/libtorrent.git@c362f5f11#egg=libtorrent==1.2.17 --> OK
#git+https://github.com/arvidn/libtorrent.git@e1460bc0c#egg=libtorrent==1.2.17 --> OK
#git+https://github.com/arvidn/libtorrent.git@0106578b0#egg=libtorrent==1.2.17 --> OK
