# [deluge]
# Reference to the most recent commit on the develop branch
# git+https://github.com/deluge-torrent/deluge.git@develop#egg=deluge==2.1.1
# Specific commit made on March 1, 2025 in the develop branch
# git+https://github.com/deluge-torrent/deluge.git@0b5addf58eac1f379ee1af83247d8dee0c1eae78#egg=deluge==2.1.1.dev136
deluge==2.2.0

cffi==2.1.1
cryptography==48.0.1
MarkupSafe==3.0.3
#pillow                 ==> python/pillow
#rencode                ==> python/rencode
setproctitle==1.3.7
zope.interface==8.6

# Additional core requirements not included by default

# [libtorrent] 2.0.14
# Depends: openssl3, boost 1.86
# Require environment variables
#  BOOST_LIBRARIES
#  BOOST_BUILD_PATH
# Only supported on DSM7 armv7, aarch64, x64
# 
# NOTE: version 2.1.x requires c++17 > gcc-8.5
# 
git+https://github.com/arvidn/libtorrent.git@v2.0.14#egg=libtorrent==2.0.14

# Reference documentation for using Git bisect, in case it's needed in the future
#
# [libtorrent] 2.0.14
# Instructions for using RC_2_0 branch for the latest development snapshots
# git+https://github.com/arvidn/libtorrent.git@RC_2_0#egg=libtorrent==2.0.14
#
