# General support
six==1.16.0
virtualenv==16.7.10

# Cheetah dependency
markdown==3.1.1

# Cryptography/pyOpenSSL/M2Crypto dependencies
# These also depends on cross/cffi and cross/openssl,
# which are installed through cross/bcrypt
pyOpenSSL==19.1.0
pyasn1==0.4.8
asn1crypto==1.3.0
enum34==1.1.10
idna==2.10
ipaddress==1.0.23
typing==3.7.4.1

# Twisted dependencies
Automat==20.2.0
constantly==15.1.0
hyperlink==19.0.0
attrs==21.2.0
incremental==17.5.0

# Requests and dependencies
# Always get latest certificates!
requests==2.23.0
urllib3==1.26.4
chardet==4.0.0
certifi
