# with default crossenv the build of rpds_py>=0.23.0 has issue with maturin
# with this minimal crossenv it succeeds.
# 
# related topics:
# see https://github.com/crate-py/rpds/issues/120 
# and https://mail-index.netbsd.org/tech-pkg/2025/03/20/msg030703.html
# 
# https://github.com/crate-py/rpds pyproject.toml declares the license metadata regarding pep639.
# When building with default crossenv, it uses maturin that fails with:
#  💥 maturin failed
#    Caused by: pyproject.toml at /tmp/pip-wheel-1y_xcuh3/rpds-py_a98e895e9a524b8c92737c8eff981a64/pyproject.toml is invalid
#    Caused by: TOML parse error at line 11, column 17
#     |
#  11 | license-files = ["LICENSE"]
#     |                 ^^^^^^^^^^^
#  wanted string or table
#  
#  Error running maturin: Command '['maturin', 'pep517', 'write-dist-info', '--metadata-directory', '/tmp/pip-modern-metadata-2vjpzv9m', '--interpreter', '/spksrc/spk/flexget/work-aarch64-6.2.4/crossenv-default/cross/bin/python']' returned non-zero exit status 1.
#

pip==24.3.1
setuptools==78.1.0
wheel==0.45.1
#
build:Cython==3.0.11
build:maturin==1.8.6
#
cross:build==1.2.2
cross:cffi==1.17.1
