## Modules cross-compiled via spksrc.python-wheel.mk
# Included for reference
#lxml==4.2.5
#pycrypto==2.6.1
#Pillow==8.2.0
#pycurl==7.43.0.6
#pyyaml==5.4.1
#immutables==0.11

## Cross-compiled via spksrc.wheel.mk
markupsafe==2.0.1
psutil==5.8.0
sqlalchemy==1.4.25
zope.interface==5.4.0

## Pure-python via spksrc.wheel.mk
pyopenssl==21.0.0
six==1.16.0
virtualenv==20.8.1
# virtualenv dependencies
appdirs==1.4.4
filelock==3.3.0
importlib-resources==5.2.2
importlib-metadata==4.8.1
zipp==3.6.0
distlib==0.3.3

# cryptography dependencies
idna==3.2
ipaddress==1.0.23
pyasn1==0.4.8

# pillow dependencies
olefile==0.46
