## default
appdirs==1.4.4
distlib==0.3.3
markupsafe==2.0.1
poetry==1.1.13
psutil==5.8.0
pyopenssl==21.0.0
six==1.16.0
sqlalchemy==1.4.26
zope.interface==5.4.0

# cryptography dependencies
idna==3.3
ipaddress==1.0.23

## Modules cross-compiled via spksrc.python-wheel.mk
# Included for reference
#lxml==4.6.3
#pycrypto==2.6.1
#Pillow==8.2.0
#pycurl==7.43.0.6
#pyyaml==5.4.1
#immutables==0.16

# cryptography dependencies
pyasn1==0.4.8

# pillow dependencies
olefile==0.46
