## Pure-python via spksrc.wheel.mk
appdirs==1.4.4
distlib==0.3.3
filelock==3.3.1
importlib-resources==5.2.2
importlib-metadata==4.8.1
platformdirs==2.4.0
pyopenssl==21.0.0
six==1.16.0
virtualenv==20.4.6
zipp==3.6.0

# cryptography dependencies
idna==3.3
ipaddress==1.0.23
