##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [rpds-py]
# Require environment variables
#  PYO3_CROSS_LIB_DIR=$(STAGING_INSTALL_PREFIX)/lib/
#  PYO3_CROSS_INCLUDE_DIR=$(STAGING_INSTALL_PREFIX)/include/
# Requires path to maturin from crossenv
#  ENV += PATH=$(WORK_DIR)/crossenv/build/bin:$(PATH)
rpds-py==0.20.0
