##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [numpy]
#   - Require Cython in cross/python310 crossenv
#   - Numpy >= 1.25.x require c++17
#   - Numpy >= 1.26.x requires: <-- FAIILS to build
#           c++17, meson-python, scikit-build-core
numpy==1.24.4
numpy==1.25.2
#numpy==1.26.4
#numpy==2.0.2
#numpy==2.1.3
#numpy==2.2.1
