##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [pycryptodome] + [pycryptodomex]
# Require:
#    - CFLAGS=-sdt=c99 <  gcc-4.9
#    - CFLAGS=-sdt=c11 >= gcc-4.9
pycryptodome==3.20.0
pycryptodomex==3.20.0
