# Flask and dependencies
Flask==3.1.0
Werkzeug==3.1.3
Jinja2==3.1.6
click==8.2.1
itsdangerous==2.2.0
blinker==1.9.0

# requests and dependencies
requests==2.32.3
urllib3==1.26.20
idna==3.10
charset_normalizer==3.4.2
