# To use pyLoad through Web Station's Virtual Host
# put this file into VirtualHost directory as .htaccess file, edit accordingly
# and change pyLoad to listen only on 127.0.0.1 (default is 0.0.0.0, port 8190).
# Remember that each virtualhost name and each protocol needs
# own Virtual Host (pointing to the directory where your .htaccess resides).
#
RewriteEngine on

## Disallow calling pyload through vhost_directory, redirect to virtualhost_name
## http(s)://synology_name/vhost_directory/ => http(s)://virtualhost_name/
#
## When IPv4 only or IPv6 only is used or IPv4 and IPv6 has the same virtualhost name:
#RewriteCond %{HTTP_HOST} !=virtualhost_name [NC]
#RewriteRule .* https://virtualhost_name/ [R=301,L]
## When IPv4 and IPv6 has different names:
#RewriteCond %{HTTP_HOST} !=virtualhost_ipv4_name [NC]
#RewriteCond %{REMOTE_ADDR} !:
#RewriteRule .* https://virtualhost_ipv4_name/ [R=301,L]
#
#RewriteCond %{HTTP_HOST} !=virtualhost_ipv6_name [NC]
#RewriteCond %{REMOTE_ADDR} :
#RewriteRule .* https://virtualhost_ipv6_name/ [R=301,L]
##
##

## When SSL is on, why not use it (i.e. don't use it if you don't have SSL enabled on WebStation)
## http:// => https://
## When SPDY is NOT used, use:  
#RewriteCond %{HTTPS} off
## When SPDY is used, use:
#RewriteCond %{SERVER_PORT} ^80$
## In both cases, use:
#RewriteRule .* https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
##

## Reverse Proxy itself
##
## According to used ipv4&ipv6 names, use this:
#RewriteCond %{HTTP_HOST} =virtualhost_name [NC]
## or this:
#RewriteCond %{HTTP_HOST} =virtualhost_ipv4_name [NC,OR]
#RewriteCond %{HTTP_HOST} =virtualhost_ipv6_name [NC]
#
#RewriteRule ^(.*)$ http://127.0.0.1:8190/$1 [P,L]
##

