# [rpds-py]
# Version >= 0.22.3 requires rustc >= 1.80
# Require environment variables
#  PYO3_CROSS_LIB_DIR=$(STAGING_INSTALL_PREFIX)/lib/
#  PYO3_CROSS_INCLUDE_DIR=$(STAGING_INSTALL_PREFIX)/include/
rpds_py==0.22.3
