# This file is a copy of the https://raw.githubusercontent.com/Flexget/Flexget/v3.1.129/requirements.txt file
# including the https://raw.githubusercontent.com/Flexget/Flexget/v3.1.129/requirements.in
# Additionally added the flexget and the transmission-rpc packages.
# plumbum and rpyc packages are adjusted as the proposed versions are not accepted.

aniso8601==9.0.1
APScheduler==3.7.0
attrs==20.3.0
babelfish==0.5.5
beautifulsoup4==4.9.3
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
cheroot==8.5.2
CherryPy==18.6.0
click==7.1.2
colorama==0.4.4
colorclass==2.2.0
feedparser==6.0.2
Flask==1.1.2
Flask-Compress==1.9.0
Flask-Cors==3.0.10
Flask-Login==0.5.0
Flask-RESTful==0.3.8
flask-restx==0.4.0
FlexGet==3.1.129
greenlet==1.0.0
guessit==3.2.0
html5lib==1.1
idna==2.10
importlib-metadata==4.0.1
itsdangerous==1.1.0
jaraco.classes==3.2.1
jaraco.collections==3.3.0
jaraco.functools==3.3.0
jaraco.text==3.5.0
Jinja2==2.11.3
jsonschema==3.2.0
loguru==0.5.3
MarkupSafe==2.0.0
more-itertools==8.7.0
#plumbum==1.7.0
plumbum==1.6.9
portend==2.7.1
progressbar==2.5
psutil==5.8.0
pynzb==0.1.0
pyparsing==2.4.7
pyrsistent==0.17.3
PyRSS2Gen==1.1
python-dateutil==2.8.1
pytz==2021.1
PyYAML==5.4.1
rebulk==3.0.1
requests==2.25.1
#rpyc==5.0.1
rpyc==4.1.2
sgmllib3k==1.0.0
six==1.16.0
soupsieve==2.2.1
SQLAlchemy==1.4.15
tempora==4.0.2
terminaltables==3.1.0
transmission-rpc==3.2.5
typing-extensions==3.10.0.0
tzlocal==2.1
urllib3==1.26.5
webencodings==0.5.1
Werkzeug==1.0.1
zc.lockfile==2.0
zipp==3.4.1
zxcvbn-python==4.4.24
