# Snapshot from Jan. 18th 2025

aniso8601==10.0.0
APScheduler==3.11.0
attrs==24.3.0
autocommand==2.2.2
babelfish==0.6.1
backports.tarfile==1.2.0
beautifulsoup4==4.12.3
blinker==1.9.0
#Brotli                             ==> crossenv
#certifi                            ==> py311
#charset-normalizer                 ==> crossenv
cheroot==10.0.1
CherryPy==18.10.0
click==8.1.8
colorama==0.4.6
feedparser==6.0.11
Flask==3.1.0
Flask-Compress==1.17
Flask-Cors==5.0.0
Flask-Login==0.6.3
flask-restx==1.3.0
FlexGet==3.13.16
#greenlet                           ==> crossenv
guessit==3.8.0
html5lib==1.1
idna==3.10
importlib_resources==6.5.2
itsdangerous==2.2.0
jaraco.collections==5.1.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jaraco.text==4.0.0
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
loguru==0.7.3
markdown-it-py==3.0.0
#MarkupSafe                         ==> crossenv
mdurl==0.1.2
more-itertools==10.6.0
packaging==24.2
#pendulum                           ==> crossenv
plumbum==1.9.0
portend==3.2.0
#psutil                             ==> crossenv
Pygments==2.19.1
pynzb==0.1.0
pyparsing==3.2.1
PyRSS2Gen==1.1
python-dateutil==2.9.0.post0
pytz==2024.2
#PyYAML                             ==> crossenv
rebulk==3.2.0
referencing==0.36.1
requests==2.32.3
rich==13.9.4
#rpds-py                            ==> crossenv
rpyc==6.0.1
setuptools==75.7.0
sgmllib3k==1.0.0
#six                                ==> py311
soupsieve==2.6
#SQLAlchemy                         ==> crossenv
tempora==5.8.0
#time-machine                       ==> crossenv
typing_extensions==4.12.2
tzdata==2024.2
tzlocal==5.2
urllib3==1.26.20
webencodings==0.5.1
Werkzeug==3.1.3
zc.lockfile==3.0.post1
#zstandard                          ==> crossenv
zxcvbn==4.4.28
