# https://github.com/saltstack/salt/blob/master/requirements/static/pkg/py3.8/linux.txt
certifi==2021.5.30
charset-normalizer==2.0.4
contextvars==2.4
distro==1.5.0
idna==3.2
Jinja2==2.11.3
MarkupSafe==1.1.1
python-dateutil==2.8.2
requests==2.25.1
typing-extensions==3.10.0.2
urllib3==1.26.6
