backports-abc==0.5
certifi==2021.5.30
chardet==4.0.0
futures==3.3.0
idna==2.10
Jinja2==2.11.3
MarkupSafe==1.1.1
msgpack==0.6.2
pycrypto==2.6.1
PyYAML==5.4.1
pyzmq==19.0.2
requests==2.26.0
salt<=3000.9
singledispatch==3.4.0.3
six==1.16.0
urllib3==1.26.6
