[gerrit]
    basePath = git
[database]
    type = h2
    database = db/ReviewDB
[index]
    type = LUCENE
[auth]
    type = OPENID
[sendemail]
    enable = false
    smtpServer = localhost
[container]
    user = gerrit
    javaHome = /var/packages/JavaManager/target/Java/jre
[sshd]
    listenAddress = *:29418
[httpd]
    listenUrl = https://*:8141/
[cache]
    directory = cache
[user]
    name = Gerrit Code Review

