body, html{
	margin: 0;
	-moz-user-select: none;-webkit-user-select: none;
	height: 100%;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
}
textarea {
    resize: none;
	color:#000000;
}
.div-container{
	height: 100%;
	overflow: hidden;
	background: url(gui_images/listview_bg.png) repeat-y;
}

.SYNO-list {
	float:left;
}
.SYNO-list .SYNO-list-column div {
	vertical-align: middle;
	margin-left: 0px;
	padding-left: 44px;
	font-size: 14px;
	font-weight: bold;
	line-height: 14px;
	width: 176px;
	height: 50px;
	color: #294766;
	word-wrap: break-word;
	white-space: normal;
	display: table-cell;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
}
.SYNO-list .x-list-selected .SYNO-list-column div {
	color: #e5f2ff;
}

.SYNO-list .SYNO-list-run {
	background-image: url(gui_images/listview_run.png);
	background-position: 0 0px !important;
}
.SYNO-list .SYNO-list-run:hover {
	background-position: 0 -50px !important;
}
.SYNO-list .x-list-selected .SYNO-list-run {
	background-position: 0 -100px !important;
}

.SYNO-list .SYNO-list-settings {
	background-image: url(gui_images/listview_settings.png);
	background-position: 0 0px !important;
}
.SYNO-list .SYNO-list-settings:hover {
	background-position: 0 -50px !important;
}
.SYNO-list .x-list-selected .SYNO-list-settings {
	background-position: 0 -100px !important;
}

.SYNO-panel {
	background-color: #EBF0F5;
	height: 100%;
	overflow: auto;
}
.SYNO-panel fieldset {
	border: 1px solid #7C9EBF;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
	margin-bottom: 15px;
}
.SYNO-panel legend {
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 11px;
	font-weight: bold;
	color: #1C3853;
}
.sub{
	padding-top: 15px;
	padding-right: 20px;
	margin-left: 20px;
	line-height: 25px;
	font-family: verdana, tahoma, arial, helvetica, sans-serif;
	font-size: 12px;
}

.SYNO-button .SYNO-button-left,
.SYNO-button .SYNO-button-right,
.SYNO-button .SYNO-button-center {
	height: 26px;
	background-image: url(gui_images/button.png);
	background-repeat: no-repeat;
	display: inline-block;
	-moz-user-select: none;-webkit-user-select: none;
}

.SYNO-button .SYNO-button-text {
	color: #FFFFFF;
	text-align: center;
}
.SYNO-button .SYNO-button-left {
	background-position: 0 0px !important;
	width: 8px;
	margin-left: 10px;
}
.SYNO-button .SYNO-button-center {
	background-position: 0 -26px !important;
	background-repeat: repeat-x;
}
.SYNO-button .SYNO-button-right {
	background-position: 0 -52px !important;
	width: 8px;
}

.SYNO-button .mouseover .SYNO-button-left {
	background-position: 0 -78px !important;
}
.SYNO-button .mouseover .SYNO-button-center {
	background-position: 0 -104px !important;
	background-repeat: repeat-x;
}
.SYNO-button .mouseover .SYNO-button-right {
	background-position: 0 -130px !important;
}

.SYNO-button .mousedown .SYNO-button-left {
	background-position: 0 -156px !important;
}
.SYNO-button .mousedown .SYNO-button-center {
	background-position: 0 -182px !important;
	background-repeat: repeat-x;
}
.SYNO-button .mousedown .SYNO-button-right {
	background-position: 0 -208px !important;
}