cef == 0.5
docopt == 0.5
WebOb == 1.0.7
Paste == 1.7.5.1
PasteDeploy == 1.5
PasteScript == 1.7.5
Mako == 0.7.2
MarkupSafe == 0.15
pymysql_sa == 1.0
PyMySQL == 0.5
simplejson == 2.6.2
Routes == 1.13
SQLAlchemy == 0.7.10
WSGIProxy == 0.2.2
recaptcha-client == 1.0.6
repoze.lru == 0.5
zope.deprecation == 3.5.1
zope.interface == 3.8
metlog-py == 0.9.8
metlog-cef == 0.2
scrypt == 0.6.1
