# Generated using the requirements script on February 22, 2025

cffi==1.17.1
charset_normalizer==3.4.1
cryptography==42.0.8
#greenlet                   ==> supported version depends on gcc version
mysqlclient==2.1.1
SQLAlchemy==1.4.46
zope.interface==7.2
