#
# Download bazarr from github directly as not available on pypi
# Current not supported:
#   https://github.com/morpheus65535/bazarr/issues/1648
#
#git+https://github.com/morpheus65535/bazarr@v1.0.2-beta.10#egg=bazarr

greenlet==1.1.2
# gevent==21.8.0              # requires to be built as cross/gevent
# numpy==1.21.5
git+https://github.com/numpy/numpy@v1.22.0rc3#egg=numpy

# webrtcvad==2.0.10           # requires unreleased version at specific commit for qoriq arch
git+https://github.com/wiseman/py-webrtcvad@3bd761332a9404f5c9276105070ee814c4428342#egg=webrtcvad
