charset-normalizer==3.4.6
gracenote2epg==1.6.1
idna==3.11
langdetect==1.0.9
polib==1.2.0
requests==2.33.0
urllib3==2.6.3

# Additional wheels for gracenote2epg[full] >= 1.6.0
#numpy==2.2.6                   # python/numpy
#pandas==2.3.2                  # python/pandas
#pgeocode==0.5.0                # forced-built in Makefile
python-dateutil==2.9.0.post0
pytz==2026.1.post1
tzdata==2025.3
