requests==2.12.4
appdirs==1.4.0
cffi==0.8.6
chardet==2.3.0
colorama==0.3.2
cryptography==0.6.1
Cython==0.21.1
dblatex==0.3.5.post2
defusedxml==0.4.1
dnspython==1.12.0
docutils==0.12
html5lib==0.999
httpie==0.9.9
mercurial==3.1.2
ndg-httpsclient==0.3.2
packaging==16.8
PGen==0.2.1
Pillow==2.6.1
ply==3.4
pyasn1==0.1.7
pycparser==2.10
pycrypto==2.6.1
Pygments==2.2.0
pyOpenSSL==0.14
pyparsing==2.1.10
python-apt==0.9.3.12
python-debian==0.1.27
python-debianbts==1.11
reportbug==6.6.3
requests==2.12.4
roman==2.0.0
sabyenc==2.7.0
six==1.10.0
SOAPpy==0.12.22
urllib3==1.9.1
wstools==0.4.3
sabyenc==2.7.0
