##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [bcrypt] & [cryptography]
# Require environment variables
#  PYO3_CROSS_LIB_DIR=$(STAGING_INSTALL_PREFIX)/lib/
#  PYO3_CROSS_INCLUDE_DIR=$(STAGING_INSTALL_PREFIX)/include/
bcrypt==4.0.1

# [cryptography]
# Mandatory of using OPENSSL_*_DIR starting with version >= 40
# https://docs.rs/openssl/latest/openssl/#automatic
#  ENV += OPENSSL_LIB_DIR=$(STAGING_INSTALL_PREFIX)/lib/
#  ENV += OPENSSL_INCLUDE_DIR=$(STAGING_INSTALL_PREFIX)/include/
cryptography==40.0.2

# Requirement for cryptography
cffi==1.15.1

# commonly used cross-compiled wheels
# All tested and can be enabled but may conflict
# with local python apps requirements

immutables==0.19
MarkupSafe==2.1.2
msgpack-python==0.5.6
netifaces==0.11.0
psutil==5.9.5
regex==2023.5.5
SQLAlchemy==2.0.12
zope.interface==6.0

# [gevent]
# Depends: libev, c-ares
# Require environment variables
#  GEVENTSETUP_EMBED_CARES=FALSE
#  GEVENTSETUP_EMBED_LIBEV=FALSE
gevent==22.10.2

# [lxml]
# Depends: libxml2, libxslt
lxml==4.9.2

# [mysqlclient]
# Depends: mysql-connector-c, mariadb-connector-c
# Require environment variables
#  MYSQLCLIENT_CFLAGS
#  MYSQLCLIENT_LDFLAGS
mysqlclient==2.1.1

# [Pillow]
# Require --global-options arguments
#  WHEELS_BUILD_ARGS = [Pillow] build_ext --disable-platform-guessing
Pillow==9.5.0

# [pycares]
# Depends: c-ares
# Require environment variables
#  PYCARES_USE_SYSTEM_LIB=1
pycares==4.3.0

# [pycurl]
# Depends: curl
# Require environment variables
#  PYCURL_CURL_CONFIG
pycurl==7.45.2

# [PyNaCl]
# Depends: cross/libsodium
# Require environment variables
#  SODIUM_INSTALL=system
PyNaCl==1.5.0

# [PyYAML]
# Depends: libyaml
PyYAML==6.0

# [rencode]
# Updated fork of the project
# rencode==1.0.6 <<-- unsupported
git+https://github.com/totaam/rencode.git@f6254ab26161f90b9c5e97915b9193fee805fc1f#egg=rencode==1.0.7

# [ujson]
#   - Require setuptools-scm in cross/python3* crossenv
ujson==5.7.0

# [webrtcvad]
# webrtcvad==2.0.10           # requires unreleased version at specific commit for qoriq arch
git+https://github.com/wiseman/py-webrtcvad@3bd761332a9404f5c9276105070ee814c4428342#egg=webrtcvad==2.0.10
