##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##

# [numpy]
#   - Require Cython in cross/python311 crossenv
#   - aarch64-6.1 require workaround WHEELS_CFLAGS=-O0
#     ref: https://github.com/numpy/numpy/issues/13622
#   - numpy.distutils is deprecated since NumPy 1.23.0
#     Recommend to use `setuptools < 60.0` for Python >= 3.12
numpy==1.24.4
