# basic default wheels
#pip==24.0               ==> Always install latest version (service-setup.sh:install_python_virtualenv)

# Always match what's in cross/python310/Makefile
setuptools==69.2.0
wheel==0.43.0

# Always use latest version available
# certifi==2024.2.2
certifi

# Mandatory for python application
# to create their local virtualenv
# in order to install wheels within
# their running environment
virtualenv==20.25.1

# Other mandatory wheels that
# gets install by default as
# basic dependencies of above
distlib==0.3.8
filelock==3.13.1
platformdirs==4.2.0
six==1.16.0

##
## All configurations below are optional and
## are provided to demonstrate how to build
## various wheels.  Uncoment to enable.
##
