## Cross-compiled via spksrc.wheel.mk
cffi==1.15.0
greenlet==1.1.2
immutables==0.16
lxml==4.6.3
markupsafe==2.0.1
msgpack-python==0.5.6
psutil==5.8.0
Pillow==8.4.0
pycrypto==2.6.1
#pycurl==7.44.1
PyYAML==6.0
sqlalchemy==1.4.26
zope.interface==5.4.0

# cryptography dependencies
#cryptography==35.0.0
