[{
    "step_title": "Driver Selection",
    "items": [{
        "desc": "Choose driver to install from the following list. The input must be exact and is case sensitive:"
    },{
        "type": "textfield",
        "desc": "@keys@none",
        "subitems": [{
            "key": "lirc_driver_selected",
            "desc": "Driver"
        }]
    },{
        "desc": "*If you don't know what to select, this package might not be ready for you yet."
    }]
}]
