# Generated using the requirements script on March 2, 2025

build==1.2.2.post1
#certifi                    ==> py312
docutils==0.21.2
id==1.5.0
idna==3.10
jaraco.classes==3.4.0
jaraco.context==6.0.1
jaraco.functools==4.1.0
jeepney==0.9.0
keyring==25.6.0
markdown_it_py==3.0.0
mdurl==0.1.2
more_itertools==10.6.0
packaging==24.2
#pip                        ==> py312
pycparser==2.22
pygments==2.19.1
pyproject_hooks==1.2.0
readme_renderer==44.0
requests==2.32.3
requests_toolbelt==1.0.0
rfc3986==2.0.0
rich==13.9.4
SecretStorage==3.3.3
#setuptools                 ==> py312
setuptools_scm==8.2.0
twine==6.1.0
urllib3==2.3.0
#wheel                      ==> py312
