# Snapshot using python 3.11 on Jul 22nd 2023
#aiohttp                     ==> crossenv
aiosignal==1.3.1
async-timeout==4.0.2
attrs==23.1.0
cachetools==5.3.1
#certifi                     ==> py311
chardet==5.1.0
colorama==0.4.6
#coverage                    ==> crossenv
#distlib                     ==> py311
#filelock                    ==> py311
flake8==6.0.0
#frozenlist                  ==> crossenv
idna==3.4
mccabe==0.7.0
#multidict                   ==> crossenv
packaging==23.1
#platformdirs                ==> py311
pluggy==1.2.0
#psutil                      ==> crossenv
py==1.11.0
pycodestyle==2.10.0
pyflakes==3.0.1
#pylibacl                    ==> crossenv
pyparsing==3.1.0
pyproject-api==1.5.3
#pyxattr                     ==> crossenv
#PyYAML                      ==> crossenv
#rdiff-backup                ==> crossenv
requests==2.31.0
rqdb==1.0.11
setuptools-scm==7.1.0
#six                         ==> py311
tomli==2.0.1
tox==4.6.4
typing_extensions==4.7.1
urllib3==2.0.4
#virtualenv                  ==> py311
#yarl                        ==> crossenv
