rdiff-backup==2.2.6

aiohttp==3.9.3
charset-normalizer==3.3.2
coverage==7.4.4
frozenlist==1.4.1
multidict==6.0.5
pylibacl==0.7.0
pyxattr==0.8.1
yarl==1.9.4

# [psutil]
# Last known version to build on armv5/ppc
psutil==5.9.1

# [PyYAML]
# Depends: libyaml
PyYAML==6.0.1
