name: Docker

on:
    # Trigger on file change
    push:
        paths:
            - 'Dockerfile'
        branches:
            - master
    pull_request:
        paths:
            - 'Dockerfile'
    # Trigger build manually
    workflow_dispatch:
    # Trigger build on a schedule
    schedule:
        # every fist day of the month
        - cron: '0 0 1 * *'

jobs:
  docker:
    runs-on: ubuntu-latest
    if: github.repository_owner == 'SynoCommunity'
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push
        uses: docker/build-push-action@v4
        if: ${{ github.event_name != 'pull_request' }}
        with:
          push: true
          tags: ghcr.io/synocommunity/spksrc:latest
