subliminal==0.7.5
argparse==1.4.0
babelfish==0.5.5
beautifulsoup4==4.9.3
charade==1.0.3
chardet==2.3.0
configobj==5.0.6
dogpile.cache==0.9.2
dogpile.core==0.4.1
enzyme==0.4.1
Flask==1.1.2
guessit==0.9.4
html5lib==1.1
itsdangerous==1.1.0
Jinja2==2.11.3
pbr==5.5.1
pyextdirect==0.3.1
pysrt==1.1.2
python-dateutil==2.4.2
pyxdg==0.26
requests==2.24.0
stevedore==1.3.0
Werkzeug==1.0.1
