argparse
babelfish>=0.5.4
beautifulsoup4>=4.3.2
charade>=1.0.3
chardet==2.3.0
configobj
dogpile.cache>=0.5.2
dogpile.core==0.4.1
enzyme>=0.4.0
Flask
guessit>=0.7,<0.10
html5lib>=0.99
itsdangerous
Jinja2
pbr==0.10.8
pyextdirect
pysrt>=0.5.0
python-dateutil==2.4.2
pyxdg==0.26
requests>=2.0.1
stevedore==1.3.0
Werkzeug
subliminal==0.7.5
